<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Poupa Tempo</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/cad-biometric">Cadastramento Biométrico</a>
    </div>
  </div>
  <span class="navbar-text">
    Sistema de Cadastramento de passageiros
  </span>
</nav>

<div class="container-router">
  <router-outlet></router-outlet>
</div>