.container-fluid{
    margin-left: 0%;
}

.container-login{
    background: rgb(191, 77, 117);
    background: radial-gradient(circle, rgba(191, 77, 117, 1) 26%, rgba(153, 52, 164, 1) 45%, rgba(40, 36, 36, 1) 97%);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

#login{
    width: 30%;
    height: 35%;
    background-color: rgba(19, 19, 19, 0.363);
    border-radius: 10px;
    color: #ffffff88;
}
 
form{
   padding: 5%;
}

.form-control{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-check{
    color: #ffffff88;
}

#submitLogin{
    display: inline-flex;
    text-align: center;
    margin-left: 85%;
} 
